
   <mat-card class="hover-card">
    <br>
      <mat-card-header>
        <mat-card-title>
          <pre class="textBlueColor">User Profile    <mat-icon class="editProfile" (click)="editUser()" color="primary">edit</mat-icon></pre>
        
          
        </mat-card-title>
        <br>
      </mat-card-header>
      <mat-card-content>
        
        <div class="user-profile">
          <br>
          <img class="user-image" src="../../../assets/images/dp2.jpg" alt="User Image" width="35%" />
          <br>
          <div class="user-details" *ngIf="!editUserForm">
            <p><strong>User-name: </strong> {{user.name}}</p>
            <p><strong>Age:</strong> {{user.age}}</p>
            <p><strong>DOB:</strong> {{user.dob | date: 'dd/MM/yyyy' }}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Location:</strong>{{user.address}}</p>
            <p><strong>Pin-code:</strong> {{user.pin}}</p>
            <p><strong>Conact no:</strong>{{user.phone}}</p>
          </div>
          <div *ngIf="editUserForm" class="user-details" >
          <form>
            <div class="row">
              <div class="col-5">
                <label for="name">User Name</label>
                <input [(ngModel)]="user.name" type="text" [ngModelOptions]="{standalone: true}" id="name">
              </div>
              <div class="col-5">
                <label for="age">Age</label>
                <input type="number" [(ngModel)]="user.age"  [ngModelOptions]="{standalone: true}" id="age">
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <label for="dob">Date Of Birth</label>
                <input id="dob" [(ngModel)]="user.dob"  [ngModelOptions]="{standalone: true}" type="date">
              </div>
              <div class="col-5">
                <label for="pin">Pin-Code</label>
                <input id="pin" [(ngModel)]="user.pin"  [ngModelOptions]="{standalone: true}" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <label for="location">location</label>
                <textarea id="location" [(ngModel)]="user.address"  [ngModelOptions]="{standalone: true}"></textarea>
              </div>
              
            </div>
            <div class="row">
              <div class="col-5">
                <label for="email">Email Address</label>
                <input id="email" [(ngModel)]="user.email"  [ngModelOptions]="{standalone: true}" type="email">
              </div>
              <div class="col-5">
                <label for="phone">Contact Number</label>
                <input id="phone" [(ngModel)]="user.phone"  [ngModelOptions]="{standalone: true}" type="tel">
              </div>
            </div>
            <div style="width:100%">
              <button style="margin:auto; width:fit-content;" type="submit" (click)="updateUser()">Update</button>
            </div>
          </form>
          </div>
        </div>
        <br>
      </mat-card-content>
    </mat-card>
  
