body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

.sidebar {
  background-color: #005cb2;
  color: white;
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
  font-size: 1em;
}

.sidebar a:hover {
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  margin-right: 500px;
  align-items: flex-start;
}

/* General Styles */
.hover-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 0px;
  background: linear-gradient(to right, grey, grey);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.hover-card:hover {
  transform: scale(0.9);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #787789, #5f5b9f);
}

/* User Profile Styles */
.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: start;
  gap: 5px;
  width: 50%;
}

.user-image {
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
}

/* Recent Payments Styles */
.recent-payments {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: start;
}

.payment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background: #f9f9f9;
  transition: background 0.3s,transform 0.3s;
}

.payment-item:hover {
  background: #e0f7fa;
}

.payment-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.payment-details {
  flex: 1;
  padding-left: 10px;
}

.payment-amount {
  font-weight: bold;
  color: #4caf50;
}

.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  gap: 5px;
}