<div class="containerText" style="background-image: url('/assets/images/bgLogin.jpeg');">
    <div class="section row">
      <div class="col">
        <form class="form">
          <h2 class="mb-8"> User Register</h2>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">User Name</span>
            <input type="name" class="form-control col-3" id="floatingInput" placeholder="Enter your name">
            <span class="input-group-text">Email</span>
            <input type="email" class="form-control col-3" id="floatingInput" placeholder="Enter your email">
   

          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-control" id="floatingPassword" placeholder="Enter your password">
            <span class="input-group-text">Address</span>
            <input type="text" class="form-control" id="floatingPassword" placeholder="Enter your Address">

          </div>
  
         <div class="mb-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">State</span>
                <input type="text" class="form-control" id="floatingPassword" placeholder="Enter your State">
                <span class="input-group-text">City</span>
                <input type="text" class="form-control" id="floatingPassword" placeholder="Enter your city">
    
              </div>
         </div>

         <div class="mb-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Pin Code</span>
                <input type="text" class="form-control" id="floatingPassword" placeholder="Enter your Pin Code">
                <span class="input-group-text">Phn No</span>
                <input type="tel" class="form-control" id="floatingPassword" placeholder="Enter your Phone number">
    
              </div>
         </div>

         

       <div class="mb-3">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">User Profile Picture</span>
            <input type="file" class="form-control" id="floatingPassword" placeholder="profile-pic"><br>
          </div>
     </div>

          
         <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Remember Me
          </label>
        </div>
          
          <button type="submit" class="btn btn-primary" (click)="gotoDashboard()">User submit</button>

          <br>
          
        </form>
      </div>
      <div class="col">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../../../assets/images/service1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/images/service2(bike).jpg"  class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/images/service3(pet).jpg" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/images/service4(aquarium).jpg" class="d-block w-100" alt="...">
            </div> -->
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/images/service5(sofa).jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
