<div class="login-container">
  <!-- Left Section -->
  <div class="image-section">
    <img src="../../../assets/images/service1.jpg" alt="Nike Shoe" class="shoe-image" />
  </div>

  <!-- Right Section -->
  <div class="form-section">
    <img src="../../../assets/images/waveWashlogo.jpg" alt="Nike Logo" class="logo" />
    <form class="login-box">
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <div class="radio-group">
        <label>
          <input type="radio" name="vendor" />
          I am Vendor
        </label>
        <label>
          <input type="radio" name="user" />
          I am User
        </label>
      </div>
      <a href="#" class="forgot-password">Forgot Password?</a>
      <button type="submit" class="btn">LOGIN</button>
    </form>
  </div>
</div>
