/* General styles */
.header-component {
    .spacer {
      flex: 1 1 auto;
    }
    .search-bar {
      width: 300px;
      margin: 0 16px;
    }
    
    }
    
    /* Left section styling */
    .main-content-component{
      .content {
        display: flex;
        justify-content: space-between;
        padding: 32px;
      }
      .left-section {
        width: 50%;
      }
      .right-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .highlight {
        color: #087bc7;
        background-image: url('../../../assets/images/proimg3.jpg');
      }
      
    }
    
    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #000000;
    }
    
    .highlight {
      color: #0a9b9d;
      margin-top: 1rem;
    }
    
    .create-account {
      margin-top: 2rem;
    }
    
    .link {
      color: #0c1ec3;
      text-decoration: none;
    }
    
    /* Right section styling */
    .login-right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #183386;
      background-image: url('../../../assets/images/proimg4.jpg');
      background-size: cover;
      background-position: center;
    }
    
    .login-card {
      width: 350px;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(43, 165, 151, 0.399);
      background-color: #183386;
      background-image: url('../../../assets/images/waveswash.jpg');
      background-size: cover;
      background-position: center;
    }
    
    .login-title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .form-field {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .remember-me {
      margin-bottom: 20px;
    }
    
    .login-button {
      width: 100%;
      background-color: #3d363d;
      color: #020312;
    }
    
    .login-button:hover {
      background-color: #060101;
    }
    
    .forgot-password {
      text-align: right;
      margin-top: 10px;
    }