<div><br><mat-card class="ex-card">
    <mat-card-header>
      <mat-card-title>

        <pre class="textBlueColor"> Expired Ads</pre>

      </mat-card-title><br>
    </mat-card-header>
    <!-- <h2>
      <pre class="textBlueColor"> Expired Ads</pre>
    </h2> -->

    <div class="ad-row">
      <div class="ad-card1">
        <div class="ad-header">
          <img src="../../../assets/images/d1.jpg" alt="Bike Image" class="ad-image">
          <div class="expired-ad-info">
            <h2>Bike Shine</h2>
            <p class="expired-ad-status">Expired 3 days ago</p>
            <p class="expired-ad-description">Give my bike the shine it deserves! scrubs, polish it .</p>
          </div>
        </div>
      </div>

      <div class="ad-card1">
        <div class="ad-header">
          <img src="../../../assets/images/d2.jpg" alt="Expired Aquarium Image" class="expired-ad-image">
          <div class="expired-ad-info">
            <h2>Aquarium Care</h2>
            <p class="expired-ad-status">Expired 12 days ago</p>
            <p class="expired-ad-description">Dive into crystal-clear waters with our expert aquarium care.
          </div>
        </div>
      </div>
    </div>

    <div class="ad-row">
      <div class="ad-card1">
        <div class="expired-ad-header">
          <img src="../../../assets/images/d3.jpg" alt="Expired Tank Image" class="expired-ad-image">
          <div class="expired-ad-info">
            <h2>Tank TLC</h2>
            <p class="expired-ad-status">Expired 1 month ago</p>
            <p class="expired-ad-description"> Clean, inspect, and repair tank well in 4 hrs.</p>
          </div>
        </div>
      </div>
      <div class="ad-card1">
        <div class="expired-ad-header">
          <img src="../../../assets/images/d3.jpg" alt="Expired Tank Image" class="expired-ad-image">
          <div class="expired-ad-info">
            <h2>Tank TLC</h2>
            <p class="expired-ad-status">Expired 1 month ago</p>
            <p class="expired-ad-description"> Clean, inspect, and repair tank well in 4 hrs.</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>