<div #section6>
    <mat-card class="active-card">
      <mat-card-header>
        <mat-card-title>

          <pre class="textBlueColor"> Active Ads</pre>

        </mat-card-title><br>
      </mat-card-header>
      <!-- <h2>
        <pre class="textBlueColor"> Active Ads</pre>
      </h2> -->
      <!-- <div class="ad-card">
        <div class="ad-header">
          <img src="../../../assets/images/a1.jpg" alt="Service Image" class="ad-image">
          <div class="ad-info">
            <h4>Ad-1</h4>
            <p class="ad-type">Bike Wash</p>
            <p class="ad-days-left">Expires in 15 days</p>
          </div>
        </div>
        <div class="ad-description">
          <h4>Address</h4>
          <p>Opp Reliance super mart,Kd road, Mysore, India</p>
        </div>
        <div class="ad-footer">
          <p>Thorough cleaning and maintenance for all bike types, using eco-friendly products to remove grime and
            ensure optimal performance.</p>
        </div><br>
        <hr>



        <div class="ad-header">
          <img src="../../../assets/images/a3.jpg" alt="Service Image" class="ad-image">
          <div class="ad-info">
            <h4>Ad-3</h4>
            <p class="ad-type">Aquarium Wash</p>
            <p class="ad-days-left">Expires in 2 days</p>
          </div>
        </div>
        <div class="ad-description">
          <h4>Address</h4>
          <p>Vijaynagara 4th stage, Mysore, India</p>
        </div>
        <div class="ad-footer">
          <p>Expert cleaning and maintenance for your aquarium, ensuring a healthy aquatic environment with tailored
            care for both freshwater and saltwater tanks.</p>
        </div>

      </div> -->
      
      <div class="ad-row">
        <div class="ad-card1">
          <div class="ad-header">
            <img src="../../../assets/images/c2.jpg" alt="Bike Image" class="ad-image">
            <div class="expired-ad-info">
              <h2>Bike Shine</h2>
              <p class="expired-ad-description"> <strong>Location: </strong> Opp Reliance Mart,KD Road ,Mysore</p>
              <p class="expired-ad-status">Expires in 13 days</p>
              <p class="expired-ad-description">Give my bike the shine it deserves! scrubs, polish it .</p>
            </div>
          </div>
        </div>

        <div class="ad-card1">
          <div class="ad-header">
            <img src="../../../assets/images/c1.jpg" alt="Expired Aquarium Image" class="expired-ad-image">
            <div class="expired-ad-info">
              <h2>Car Wash</h2>
              <p class="expired-ad-description"> <strong>Location: </strong> Gokulam 1st main,5th cross ,Mysore</p>
              <p class="expired-ad-status">Expires in 5 hrs</p>
              <p class="expired-ad-description">Dive into crystal-clear waters with our expert car care.
            </div>
          </div>
        </div>
      </div>

      <div class="ad-row">
        <div class="ad-card1">
          <div class="expired-ad-header">
            <img src="../../../assets/images/d3.jpg" alt="Expired Tank Image" class="expired-ad-image">
            <div class="expired-ad-info">
              <h2>Tank TLC</h2>
              <p class="expired-ad-description"> <strong>Location: </strong> Vijaynagara 2nd stage,Near Chat street ,Mysore</p>
              <p class="expired-ad-status">Expires in 1 hrs</p>
              <p class="expired-ad-description"> Clean, inspect, and repair tank well in 4 hrs.</p>
            </div>
          </div>
        </div>
        <div class="ad-card1">
          <div class="expired-ad-header">
            <img src="../../../assets/images/c3.jpg" alt="Expired Tank Image" class="expired-ad-image">
            <div class="expired-ad-info">
              <h2>Gardening</h2>
              <p class="expired-ad-description"> <strong>Location: </strong>Kuvempu Nagar 1st stage, Banglore</p>
              <p class="expired-ad-status">Expires in  1 day</p>
              <p class="expired-ad-description"> Clean, inspect, and make garden  well in 4 hrs.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
    </mat-card>